@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-primary: #62e7eb;
  --color-dark-green: #087f83;
  --color-secondary: #1f120e;
  --color-accent: #e3e3e3;
  --color-gray: #e3e3e3;
  --color-danger: #c70039;
  --color-blue: #3300ff;
  --color-orange: #fc9d1f;
}

body {
  font-family: var(--font-manrope);
}
.font-manrope {
  font-family: var(--font-manrope);
}

.font-fraunces {
  font-family: var(--font-fraunces);
}

.scrollable {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #087f83 #e5f4f5; /* Firefox */
}

/* Chrome, Edge, Safari */
.scrollable::-webkit-scrollbar {
  width: 6px;
  -webkit-appearance: none;
  appearance: none;
}

.scrollable::-webkit-scrollbar-track {
  background: #e5f4f5;
  border-radius: 9999px;
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: #087f83;
  border-radius: 9999.4px;
}

.scrollable::-webkit-scrollbar-button {
  display: none;
  height: 0;
}

.fill-available {
  height: webkit-fill-available;
}
